<!--Body-->
<!--Header, nav, section, aside and footer-->
<!--Section-->
<!--Aside-->
<!--Article-->
<!--.clear-->
<!--Your text elements: h1, p, etc.-->
<!--Background: #777-->
<!--Content: #ebebeb-->
<!--body: 960px-->
<!--section: 495px-->
<!--font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;-->
<!--font-size 18px-->

body {
	background: #777;
	color: #777;
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	line-height: 34px;
	margin: auto;
}

a {
	text-decoration: none;
}

#container{
	border: 1px solid #008000;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #777;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 80px;
}

#header {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-botton: 10px;
	background: #ebebeb;
	text-align: center;
}

#nav {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-botton: 10px;
	background: #ebebeb;
	text-align: center;
}

#section {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 10px;
	margin-botton: 10px;
	background: #ebebeb;
	width:  495px;
	float: left;
	text-align: center;
}

#article {
	background: #777;
	color: #ebebeb;
	padding: 10px;
}

#aside {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 100px;
	margin-botton: 10px;
	background: #ebebeb;
	width:  495px;
	float: right;
	text-align: center;
	height: 175px;
}

#h1 {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-botton: 10px;
	background: #ebebeb;
	color: #777;
}

#p {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-botton: 10px;
	background: #ebebeb;
	color: #777;
}

.clear {
	clear: both;
}

#footer {
	clear:  both;
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-botton: 10px;
	background: #ebebeb;
	text-align: center;
}